.signup {
    width: 100%;
    height: 80vh;
    background: white;
    padding-top: 100px;
}

.signup-container {
    width: 580px;
    height: 750px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.signup-container h1 {
    margin: 20px 0px;
}


.signup-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}



.signup-fields input {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.signup-container button {
    width: 100%;
    height: 72px;
    color: white;
    background: #ca51f0;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.gender-selection select:focus {
    border-color: #ca51f0;
    box-shadow: 0 0 5px rgba(255, 65, 65, 0.5);
}

.signup-fields input,
.gender-selection select {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #5c5c5c;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    outline: none;
    background: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.gender-selection select {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    padding-right: 10px;
    /* Để tránh chữ bị dính sát vào cạnh phải */
}

.signup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.signup-login span {
    color: #ca51f0;
    font-weight: 600;
}

.signup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1280px) {
    .signup-container {
        width: 500px;
        height: auto;
        padding: 30px 50px;
    }

    .signup-fields input,
    .signup-container button {
        height: 65px;
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .signup-container {
        width: 450px;
        padding: 30px 40px;
    }

    .signup-fields input,
    .signup-container button {
        height: 60px;
        font-size: 18px;
    }

    .signup-agree {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .signup-container {
        width: 90%;
        padding: 20px 30px;
    }

    .signup-fields input,
    .signup-container button {
        height: 55px;
        font-size: 16px;
    }

    .signup h1 {
        font-size: 22px;
    }

    .signup-agree {
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
    }
}