/* Tables */

.table {
  margin-bottom: 0;
  table-layout: auto !important; /* Cho phép bảng tự điều chỉnh kích thước */
    width: 100%;
  thead {
    th {
      border-top: 0;
      border-bottom-width: 1px;
      font-weight: $font-weight-medium;
      i{
        margin-left: 0.325rem;  
      }
    }
  }
  th,
  td {
    padding: 10px;
    vertical-align: middle !important;
    font-size: $default-font-size;
    line-height: 1.5;
    white-space: normal !important;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    max-width: 200px;
    min-width: 50px;
    img {
      // width: 36px;
      // height: 36px;
      // border-radius: 100%;
      width: auto;
    height: auto;
    max-width: 100%; // Ảnh không vượt quá kích thước của td
    max-height: 150px; // Giới hạn chiều cao để không quá lớn
    display: block; // Đảm bảo căn chỉnh ảnh đúng cách
    border-radius: 100%;
    }
    .badge {
      margin-bottom: 0;
    }
    &.long-content {
      max-height: 120px; /* Giới hạn chiều cao cho td */
      overflow-y: auto; /* Hiển thị thanh cuộn dọc nếu nội dung vượt quá */
      display: block; /* Đảm bảo ô có thể cuộn */
      line-height: 1.5;
    }
  }
  tbody tr {
    height: auto !important; 
  }
  &.table-borderless{
    border: none;
    tr,td,th{
      border: none;
    }
  }

}
